/* Geologica font import */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Geologica", "Source Sans Pro", Helvetica, Arial, sans-serif;
}

/* Custom scrollbar styling for better aesthetics */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Styles pour la modale */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
}
